 * {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #49634e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.music-player {
  background: #659265;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
nav.circle {
  
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #f53192;
  box-shadow: 0 10px 20px rgba(8, 50, 16, 0.559);
}
.song-img {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #10552b;
  box-shadow: 0 10px 20px rgba(8, 50, 16, 0.559);
}
.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
  
}
.music-player p {
  font-size: 14px;
  color: #fff;
}
#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #10552b;
  border-radius: 4px;
  cursor: pointer;
  margin:  40px 0;
}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #10552b;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 20px rgba(8, 50, 16, 0.559);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #10552b;
  box-shadow: 0 10px 20px rgba(8, 50, 16, 0.559);
  cursor: pointer;
}
.controls div:nth-child(2){
  transform: scale(1.5);
  background: #10552b;
  color: #fff;
} 