*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #3a4369, #a55535);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar{
    width: 300px;
    height: 250px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.left, .right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
}

.right{
    background: #ccb230;
    color: #fff;
    width: 42%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left{
    width: 58%;

}

#date{
    font-size: 100px;
    line-height: 90px;
}

#year{
    font-size: 50px;
}

.sun{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: sun 4s linear infinite;
}

@keyframes sun {
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}

.moon{
    width: 250px;
    position: absolute;
    left: 10%;
    top: 0;
    animation: moon 4s linear infinite;
}

@keyframes moon {
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
        top: 105%;
        opacity: 1;
    }
}