*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #002339;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display{
   width: 100%;
   margin-top: 50px;
   margin-bottom: 30px;
   background: #fff; 
   color: #333;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px 20px;
   border-radius: 5px;
}

.container h1{
    font-weight: 500;
    font-size: 45px;

}

.container h1 span{
    color: #3b8347;
    border-bottom: 4px solid #3b8347;
    padding-bottom: 7px;
}

.display img{
    width: 40px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img{
    width: 35px;
    margin-right: 10px;
    border-radius: 100%;
}

.container button{
    border: 0;
    outline: 0;
    background: #3b8347;
    color: #fff; 
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}