* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  body {
    background: #232352;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
  }
  .app {
    background:linear-gradient(#78516a, #661046);
    width: 90%;
    max-width: 600px;
    margin: 180px auto 100px;
    border-radius: 10px;
    padding: 30px;
    padding-top: 30px;
    justify-content: center;
  }
  .app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 50px;
  }

  .app h2{
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    /* border-bottom: 1px solid #333; */
    padding-bottom: 40px;
    padding-top: 50px;
  }

  .quiz {
    padding: 20px 0;
  }
  .quiz {
    font-size: 18px;
  }
  .btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
  }
  .btn:disabled {
    cursor: no-drop;
  }
  #next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }
  
  .correct {
    background: #9aeabc;
  }
  
  .incorrect {
    background: #ff9393;
  }
  