html,body{
    height: 100%;
    width: 100%;
}

body{
    background: linear-gradient(#4d513c, #343f00);
}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 64px;
}

.row{
    margin: 8px 0;
}

.row input{
    width: 211px;
    font-size: 13px;
    margin: 0;
    padding: 10px 36px;
    border: 2px solid black;
    border-radius: 6px;
}