/* *{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.content{
    font-family: 'Potta One', cursive;
}

.container{
    width: 60vw;
    padding: 32px 0;
    margin: auto;
}

.logo img{
    width: 32px;
    border-radius: 50%;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid black !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
} */


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

nav{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272822;
    color: white;
    height: 72px;
}

.content{
    font-family: 'Potta One', cursive;
}

.container{
    /* background-color: red; */
    width: 50vw;
    padding: 32px 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.logo{
    padding: 0 13px;
}

.logo img{
    width: 32px;
    border-radius: 50%;
}

.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}