* {
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
    overflow: hidden;
}

.gameContainer {
    background-image: url(bg.png);
    background-repeat: no repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino {
    background-image: url(dino.png);
    background-repeat: no repeat;
    background-size: cover;
    width: 230px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.obstacle {
    width: 140px;
    height: 130px;
    background-image: url(dragon.png);
    background-size: cover;
    position: absolute;
    bottom:0px;
    left: 44vw;
}


.animateDino {
    animation: dino 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

.gameOver{
    visibility: hidden;
}

@keyframes dino {
    0% {
        bottom:200px;
    }

    50% {
       bottom: 600px;
    }

    100%{
     bottom:0px;
    }
}


@keyframes obstacleAni {
    0% {
        left:100vw;
    }

    
    100%{
     left: -10vw;
    }
}